
/*Estilo header*/

header{
    background-color: rgb(219, 144, 82);
    text-align: center;
}

.tituloPagina{

}

header h4{

}

/*Estilo section*/

.container{
    max-width: 1000px;
    margin:auto;   
}

.row{
    margin:8px -16px;
}

.row .col-menu,
.row .col-aside{
    float: left;
    width: 25%;
}
.row .col-cuerpo{
    float: left;
    width: 45%;
}

/*Estilo section Menu*/

.col-menu{
    background-color: aqua;
    height: 70%;
    padding: 20px 15px 50px 2px;
    margin-left: 10px;
    font-size: 10px;
}

ul{
    list-style: none;
    overflow: hidden;

}

/*Estilo section cuerpo*/
.carrusel{
    float:left;
    width: 80%;
}

.col-cuerpo .row div{

}


/*Estilo section aside*/


/* Responsive */

@media (min-width: 480px){
    .col-menu{
        width: 35%;
        padding: 0;

    }
    .col-menu h3 {
        font-size: 5px;
    }


}
