/*Estilo body*/
body{
   background-image: url(./images/fondo_lila.jpg);
    background-repeat: repeat;
}

/*Estilo header*/

*{
    box-sizing: border-box;
}

header{
    background-color: rgba(219, 144, 82, 0.178);
    text-align: center;
}

.tituloPagina{

}

header h4{

}

/*Estilo section*/

section{
    display: flex;
    align-content: center;
    margin:auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgba(238, 255, 0, 0.164);

}

.menu{
    background-color: rgba(137, 43, 226, 0.178);
    width: 8%;
    margin-left: 10px;

}

.cuerpo{
    background-color: rgba(165, 42, 42, 0.178);
    width: 65%;
    margin-left: 20px;
    margin-right: 20px;    
}

.aside{
    background-color: rgba(128, 255, 0, 0.178);
    width: 12%;
}

/*Estilo section cuerpo*/
.carrusel{
    float:left;
    width: 80%;
}

.col-cuerpo .row div{

}


/*Estilo section aside*/


/* Responsive */

@media (min-width: 480px){
    


}
